[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ibnbatuta/Desktop/ZenBrowser.desktop]
row=1
col=1

[BEFA1D8FFA1D44D5]
row=2
col=0

[7E2A79742A792A73]
row=1
col=0

[4336DA307206E3DE]
row=0
col=0

[028A6CAB8A6C9CC3]
row=3
col=0

[Wastebasket]
row=4
col=0

[/]
row=5
col=0

[/home/ibnbatuta]
row=0
col=1

